  <div>
    <%= avatar(reach.user) %>
    <%= link_to reach.username, reach.user %>
    <%= render reach.content %>
    <%= link_to reach do %>
      <%= time_ago_in_words(reach.created_at) %> ago
    <% end %>
  </div>
