<h1>Your Dashboard</h1>

<%= reach_form_for(TextReach) do |form| %>
  <%= form.text_field :body, placeholder: "Reach out", required: true %>
<% end %>

<%= reach_form_for(PhotoReach) do |form| %>
  <%= form.file_field :image, required: true %>
<% end %>

<%= render @reaches %>
